@use "sass:map";
@use "abstracts/media" as mq;
@use "abstracts/mixins" as mx;
@use "vendors/icomoon" as ic;
@use "abstracts/helpers";

.header {
  padding: 15px 0;
  position: relative;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav-opener {
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  background: var(--color-light-gray);
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  @include mq.media(">=tablet") {
    display: none;
  }

  &:before,
  &:after {
    @include mx.transition(all);
    content: "";
    width: 18px;
    height: 2px;
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-black);
    border-radius: 2px;
  }

  &:after {
    top: 22px;
  }

  .nav-active & {
    &:after,
    &:before {
      top: 19px;
      transform: translateX(-50%) rotate(45deg);
    }

    &:after {
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}

.drop {
  @include mx.transition(opacity visibility);
  @include mq.media("<tablet") {
    max-height: calc(100dvh - 70px);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 16px;
    opacity: 0;
    visibility: hidden;
    background: var(--color-light-gray);
    overflow-y: auto;
    z-index: 9;
  }

  .nav-active & {
    opacity: 1;
    visibility: visible;
  }
}

.menu,
.submenu {
  @extend %listreset;

  a {
    color: var(--color-black);
  }
}

.menu {
  .has-dropdown {
    > a {
      padding-right: 20px;
      position: relative;

      &::before {
        content: map.get(ic.$icons, "arrow-down");
        font-family: "icomoon";
        font-size: 8px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    > ul,
    > .submenu {
      display: none;
    }
  }

  .active {
    > ul,
    > .submenu {
      display: block;
    }
  }
}
