.js-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
}

.js-select {
  position: relative;
}

.js-select-drop {
  opacity: 0;
  visibility: hidden;

  .js-drop-active & {
    opacity: 1;
    visibility: visible;
  }
}
