@use "sass:map";
@use "vendors/icomoon" as ic;
@use "abstracts/mixins" as mx;
@use "abstracts/helpers";

.js-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
}

.js-select {
  max-width: 200px;
  position: relative;
  margin-bottom: 20px;

  &-opener {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 40px 5px 10px;
    background: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 5px;
    position: relative;
    cursor: pointer;

    .js-drop-active & {
      &::before {
        transform: translateY(-50%) rotate(-180deg);
      }
    }

    &::before {
      @include mx.transition(transform);
      content: map.get(ic.$icons, "arrow-down");
      font-family: "icomoon" !important;
      font-size: 8px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }

  &-drop {
    @include mx.transition(opacity visibility);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--color-white);
    z-index: 9999;
    border: 1px solid var(--color-black);
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;

    &.js-scroll-active {
      padding-right: 16px;
    }

    &.js-drop-active {
      opacity: 1;
      visibility: visible;
    }

    &.js-drop-flipped {
      top: auto;
      bottom: 100%;
    }
  }

  &-content {
    .js-scroll-active & {
      scrollbar-width: none;
      -ms-overflow-style: none;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &-options-list {
    @extend %listreset;
  }

  &-option {
    @include mx.transition(background);
    padding: 2px 10px;
    cursor: pointer;

    @include mx.hover {
      background: var(--color-light-gray);
    }

    &.js-option-selected {
      background: var(--color-light-gray);
    }
  }

  &-scrollbar {
    width: 6px;
    position: absolute;
    top: 0;
    right: 5px;
    background: var(--color-gray);
    border-radius: 5px;
  }
}
