@use "abstracts/mixins" as mx;

.popup-holder {
  position: relative;

  &.popup-active {
    &::before {
      opacity: 0.5;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &::before {
    @include mx.transition(opacity visibility);
    content: "";
    position: fixed;
    inset: 0;
    background: var(--color-black);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
  }
}

.popup {
  @include mx.transition(opacity visibility);
  max-width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 15px;
  background: var(--color-white);
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 3;

  .popup-active & {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;

  @include mx.hover {
    &::before,
    &::after {
      background: var(--color-red);
    }
  }

  &::before,
  &::after {
    @include mx.transition(background);
    content: "";
    width: 16px;
    height: 2px;
    background: var(--color-black);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
