@use "abstracts/mixins" as m;

.tab {
  &-list {
    @include m.listReset;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
  }

  &-item {
    padding: 5px;
  }

  &-opener {
    @include m.transition(color background border-color);
    padding: 15px;
    background: transparent;
    border: 1px solid var(--color-light-gray);

    @include m.hover {
      color: var(--color-white);
      background: var(--color-orange);
      border-color: var(--color-orange);
    }

    &.active {
      color: var(--color-white);
      background: var(--color-orange);
      border-color: var(--color-orange);
    }
  }

  &-content {
    overflow: hidden;
  }

  &-block {
    display: none;
    padding: 15px;

    &.active {
      display: block;
    }
  }
}
