@use "abstracts/mixins" as mx;
@use "abstracts/helpers";

.tabset {
  @extend %listreset;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.tab {
  &-item {
    padding: 5px;
  }

  &-opener {
    @include mx.transition(color background opacity border-color);
    padding: 15px;
    background: transparent;
    border: 1px solid var(--color-light-gray);

    @include mx.hover {
      color: var(--color-white);
      background: var(--color-orange);
      border-color: var(--color-orange);
    }

    &.active {
      color: var(--color-white);
      background: var(--color-orange);
      border-color: var(--color-orange);
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &-content {
    will-change: height;
    overflow: hidden;
  }

  &-panel {
    display: none;
    padding: 15px;

    &.active {
      display: block;
    }
  }
}
